// 遮罩层颜色
$color-mask = rgba(0, 0, 0, .4)

// 加载背景色
$color-loading = rgba(0, 0, 0, .6)

// 歌词高亮颜色
$color-lyric = #31c27c
$color-progress = #31c27c
$color-active = #31c27c

$color-favorite = hsla(0, 51%, 58%, 1)
// 进度条
$color-bar = rgba(255, 255, 255, .15)
$color-line = #fff
$color-dot = #fff

// 字体颜色
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-h = hsla(0,0%,100%,.6)
$color-text-ll = rgba(255, 255, 255, 0.8)

// 字体大小
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-large-xp = 24px
